.educations {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2/3;
  gap: 20px;
}

.educations > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  gap: 10px 50px;
  border-bottom: 1px solid var(--dark-green);
  padding: 10px;
  width: 100%;
}
