.personalDetails {
  display: grid;

  background-color: rgb(0, 75, 34);
  color: aliceblue;
  padding: 30px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}
