.personalDetails {
  display: grid;
  background-color: rgb(0, 75, 34);
  color: aliceblue;
  align-items: start;
  justify-content: start;
  height: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.introduction > p {
  text-align: left;
}

.personalDetails > h2 {
  text-align: left;
  width: 100%;
}
