.skills {
  grid-column: 1 / 2;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

li {
  list-style: none;
  border: var(--dark-green) 2px solid;
  width: 80%;
  padding: 5px 10px;
  border-radius: 10px;
}
