#root {
  max-width: 1400px;
  min-height: 100vh;
  padding: 2rem;
}

:root {
  --light-green: rgb(187, 223, 208);
  --dark-green: rgb(153, 207, 185);
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  height: 100%;
  width: 80vw;
  gap: 50px;
  justify-content: space-around;
}

.previewButtons {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
}

.preview {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: start;
  width: 100%;
  max-width: calc(29cm / 1.414);
  min-height: 29cm;
  background-color: white;
  box-shadow: black 5px 5px 5px 5px;
  grid-row: 1/3;
}

.preview > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: start;
}

.sectionTitle {
  margin-bottom: 20px;
  background-color: var(--dark-green);
  width: 100%;
}

.introduction > p,
.skills > p,
.educations > p,
.experience > p {
  font-size: 1rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  background-color: var(--light-green);
  border-radius: 20px;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.dropdownHeader,
.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.forms {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  gap: 10px;
  height: 100%;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 5px;
  width: 100%;
}

label {
  color: black;
}

input,
textarea {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid var(--dark-green);
  width: 100%;
}

.buttons,
button {
  margin-top: 20px;
  justify-content: end;
  gap: 10px;
}

.innerDropdown > button {
  margin: 0px;
  padding: 5px;
  background-color: var(--dark-green);
}

img {
  height: 30px;
  width: 30px;
}

.arrow {
  transition: transform 0.5s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.innerDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: var(--dark-green);
  border-radius: 10px;
}
