#root {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  min-width: 80vw;
  gap: 50px;
  justify-content: space-around;
}

.preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  height: 29.7cm;
  width: 21cm;
  box-shadow: black 5px 5px 5px 5px;
}

.preview > div {
  height: 100%;
  align-items: start;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  background-color: rgb(187, 223, 208);
  border-radius: 20px;
  padding: 0px 20px 20px 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownHeader,
.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  gap: 5px;
}

label {
  color: black;
}

input,
textarea {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 5px rgb(119, 179, 154);
  width: 100%;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: end;
  gap: 10px;
}

img {
  height: 30px;
  width: 30px;
}

.arrow {
  transition: transform 0.5s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.innerDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
